<h1 class="h2">About AppGraph</h1>
<p>AppGraph is a web application that provides a visual representation of the relationships between applications, projects, and environments. It allows users to easily understand how different components of their software ecosystem are connected and interact with each other.</p>
<p>AppGraph is built using Spring Boot and Neo4j, leveraging the power of graph databases to model complex relationships. The application provides a user-friendly interface for exploring and managing these relationships, making it easier for developers and project managers to gain insights into their software architecture.</p>

<ul>
    <li>GET <a href="/actuator">/actuator</a></li>
    <li>GET <a href="/actuator/health">/actuator/health</a></li>
    <li>GET <a href="/actuator/info">/actuator/info</a></li>
    <li>GET <a href="/actuator/loggers">/actuator/loggers</a></li>
    <li>GET <a href="/actuator/mappings">/actuator/mappings</a></li>
    <li>GET <a href="/actuator/metrics">/actuator/metrics</a></li>  
    <li>GET <a href="/api/apps">/api/apps</a></li>
    <li>GET <a href="/api/graph">/api/graph</a></li>
</ul>