<div class="container-fluid">
    <div class="row">
        <div class="col">
            <b>application <span th:if="${project != null}">of project: <a th:text="${project.name}" th:href="@{'/projects/' + ${project.id}}">Project Name</a></span></b>
            <h1 class="h2" th:text="${app.name}">App name</h1>
        </div>
        <div class="col text-end">
            <a class="btn btn-primary btn-sm mb-3" th:href="@{'/apps/' + ${app.id} + '/edit'}">Edit App</a>
        </div>
    </div>
</div>
<hr>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <b>Upstream Applications</b>
            <table class="table table-hover">
                <tbody>
                    <tr th:each="app : ${upstreamApps}" th:onclick="|window.location.href='/apps/' + ${app.id}|"
                        style="cursor: pointer;">
                        <td th:text="${app.name}">Upstream App Name</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <b>Downstream Applications</b>
                    </div>
                    <div class="col text-end">
                        <a class="btn btn-primary btn-circle" th:href="@{'/apps/' + ${app.id} + '/addDownstreamApp'}"><i class="bi bi-plus"></i></a>
                    </div>
                </div>
            </div>
            <table class="table table-hover">
                <tbody>
                    <tr th:each="connectsTo : ${app.connectsTo}"
                        th:onclick="|window.location.href='/apps/' + ${connectsTo.app.id}|" style="cursor: pointer;">
                        <td th:text="${connectsTo.app.name}">Downstream App Name</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>