<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1 class="h2">Create New Application</h1>
        </div>
        <div class="col text-end">
            <a class="btn btn-primary btn-sm mb-3" th:href="@{'/apps'}">Cancel</a>
        </div>
    </div>
</div>
<hr>

<form>
    <div class="form-group">
        <label for="name" class="form-label">Application Name</label>
        <input type="text" class="form-control" id="name" aria-describedby="nameHelp">
        <div id="nameHelp" class="form-text">Enter the name of the application.</div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<script>

    $(document).ready(function() {
        $("form").submit(function(event) {
            event.preventDefault();
            event.stopPropagation();
            const name = $("#name").val();
            $.ajax({
                url: "/api/apps",
                method: "POST",
                contentType: "application/json",
                data: JSON.stringify({ name: name }),
                success: function(response) {
                    alert("Application created successfully!");
                    window.location.href = "/";
                },
                error: function(xhr, status, error) {
                    alert("Error creating application: " + xhr.responseText);
                }
            });
        });
    });
</script>
