<style>
    #graphContainer {
        width: 100%;
        height: 450px;
        background-color: #f0f0f0;
        border-color: #c9c9c9;
        border-width: 1px;
        border-style: solid;
    }
</style>
<div id="graphContainer">
    <!-- Cytoscape graph goes here -->
</div>
<script src="/cytoscape/cytoscape.min.js"></script>
<script th:if="${appId != null}">
    var selectedAppId = [[${appId}]];
</script>
<script>
    $(document).ready(function () {
        var url = "/api/graph";
        if (typeof selectedAppId !== 'undefined') {
            url += "/" + selectedAppId;
        }
        $.ajax({
            url: url,
            method: "GET",
            success: function (graphData) {
                const cy = cytoscape({
                    container: document.getElementById('graphContainer'),
                    elements: graphData,
                    style: [
                        {
                            selector: 'node',
                            style: {
                                'label': 'data(label)',
                                'background-color': '#00a6ff',
                                'color': '#fff',
                                'text-valign': 'center',
                                'text-halign': 'center',
                                'width': '60px',
                                'height': '60px',
                                'font-size': '12px',
                                'text-outline-color': '#000000',
                                'text-outline-width': '1px',
                                'text-outline-opacity': 1,
                                'overlay-shape': 'ellipse',
                                'overlay-color': '#aaaaaa'
                            }
                        },
                        {
                            selector: 'node:selected',
                            style: {
                                'background-color': '#007bff',
                                'width': '80px',
                                'height': '80px',
                                'font-size': '12px',
                                'border-color': '#ff0000',
                                'border-width': '3px',
                                'border-style': 'double'
                            }
                        },
                        {
                            selector: 'edge',
                            style: {
                                'label': 'data(label)',
                                'width': 1,
                                'color': '#777777',
                                'line-color': '#777777',
                                'curve-style': 'bezier',
                                'target-arrow-color': '#777777',
                                'target-arrow-shape': 'triangle',
                                'text-rotation': 'autorotate',
                                'text-margin-y': 10,
                                'font-size': '8px'
                            }
                        }
                    ],
                    layout: {
                        name: 'cose',
                        directed: true,
                        padding: 10
                    }
                });
                cy.on('tap', 'node', function (evt) {
                    let node = evt.target;  
                    if (node.selected()) {
                        window.location.href = '/apps/' + node.id();
                    }
                });
            },
            error: function (xhr, status, error) {
                alert("Error loading graph data: " + xhr.responseText);
            }
        });
    });
</script>
