<h1 class="h2">Create New Project</h1>
<hr>

<form>
    <div class="mb-3">
        <label for="name" class="form-label">Project Name</label>
        <input type="text" class="form-control" id="name" aria-describedby="nameHelp">
        <div id="nameHelp" class="form-text">Enter the name of the project.</div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<script>

    $(document).ready(function() {
        $("form").submit(function(event) {
            event.preventDefault();
            event.stopPropagation();
            const name = $("#name").val();
            $.ajax({
                url: "/api/projects",
                method: "POST",
                contentType: "application/json",
                data: JSON.stringify({ name: name }),
                success: function(response) {
                    alert("Project created successfully!");
                    window.location.href = "/";
                },
                error: function(xhr, status, error) {
                    alert("Error creating project: " + xhr.responseText);
                }
            });
        });
    });
</script>